.fundoTeste{
    background-image: url('../img/teste.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.default_color {
    background-color: #000 !important;
}

.default_color_text {
    color: #fff !important
}

.icon-block {
    padding: 0 15px
}

#intro,
#projetos{
    padding-top: 4rem
}

#nav_f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important
}

.text_h {
    padding: 15% 0;
    font-size: 6em;
    font-weight: 300;
    color: white;
}
.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem
}

.span_h2 {
    font-weight: 300;
    color: yellow;
}

.text_b {
    color: #fff;
}
.text_a {
    color: #000;
}

.fundoEscuro{
    background-color: #000;
}
.fundoEscuro img{
    opacity: 0.5;
    width: 100%;
}

.in {
    font-weight: 400 !important;
    font-style: normal !important
}

.iconFisrt {
    color: #000;
    font-size: 7rem;
    display: block
}
.iconSecond
{
    color: #000;
}

.promo .valign-wrapper
{

    justify-content: center;
}
.tiraMargem{
    margin-bottom: 0;
}

.card-content a {
    color: brown
}

.card-content a:hover {
    color: brown
}

#construcoes,
#avaliacao,
#contato {
    background: #ffe300;
    color: #000;
}

.text_pink {
    color: #EF9A9A
}

nav ul a {
    font-size: 1rem;
    color: #fff;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px
}

.cd-headline{
    position: absolute;
    z-index: 9;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: brown
}

.cd-headline.type b {
    visibility: hidden
}

.cd-headline.type b.is-visible {
    visibility: visible
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 1200
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(/img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 3em;
        font-weight: 100;
        color: white
    }
    .cd-headline{
        left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 3em;
        font-weight: 100;
        color: white
    }
    .cd-headline{
        left: 0;
    }
}

input,
textarea {
    border-bottom: 1px solid #000 !important;
    color: #000;
}

.input-field label {
    color: #000;
}

.input-field .prefix.active {
    color: #4a4a4a;
}
input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label{color:#4a4a4a}

nav a.button-collapse {
    left: -25px
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px
}

.card-avatar .card-content {
    text-align: center
}

.card .card-content p {
    margin: 15px 0px
}

.card-avatar .card-content i {
    font-size: 1.5rem
}

.card-avatar .card-content .card-title {
    line-height: 30px !important
}

.parallax-container {
    max-height: 400px
}

footer.page-footer {
    margin-top: 0px !important
}
#btnContato{
    background-color: brown !important;
}
.flag
{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #ffe300;
    margin-top: -35px;
    left: 50%;
    transform: rotate(45deg);
}
.circulo {
    position: fixed;
    bottom: 20px;
    right: 5%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    padding: 8px;
    font-size: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}
.flickity-page-dots{
    bottom: inherit;
}

#sidenav-overlay {
    background-color: transparent;
}

@media only screen and (max-width: 1024px)
{
    nav a.button-collapse {
        display: block;
    }
    .hide-on-med-and-down {
        display: none !important;
    }
    .container{
        width: 90%;
    }
}